[submodule "System"]
	path = System
	url = https://github.com/yuri-flash/System.git
[submodule "HardwareVerification/System"]
	path = HardwareVerification/System
	url = https://github.com/yuri-flash/System.git
